{% extends "base.html" %}	
{% block content %}
	<div class="container">
		<form method="post"> 
			<h1>Edit Comment</h1>
			<div class='row'>
				<div class="col-lg-6">
					<div>Comment</div>
					<textarea class="blog-input" name="content">{{content}}</textarea>
				</div>
			</div>
			<input type="submit" value="Save Changes">
			<form method="post">
				<input type="submit" value="Cancel" name="cancel">
				<input type="submit" value="Delete Comment" name="delete">
			<div class="error">{{error}}</div>
		</form>
		</form>
	</div>
{% endblock %}