<div class="post">
    <div class="post-heading">
        <div class="post-title">
            {{p.subject}}&nbsp
            {% if p.author == user_cookie %}
                <a class="edit" href="/editpost/?id={{p.key().id()}}">edit</a>
            {% endif %}
        </div>
        <div class="post-author">
            by {{p.author}}
        </div>
        <div class="post-date">
            {{p.created.strftime("%b %d, %Y")}}
        </div>
    </div>
    <div class="post-content">
        {{p._render_text | safe}}
    </div>
    <div>
        <br>
        {{p.likes}} likes
    </div>
    <hr>
    {{liked}}
    {% if user_cookie %}
        {% if not p.author == user_cookie %}
            <div>
                <form method="post" action="/">
                    <input type="hidden" name="postID" value="{{p.key().id()}}" />
                    <input class="like" value="&#128077; {{like_unlike}}" type="submit" name="clicked_like"/>
                </form>
            </div>
        {% endif %}
    {% endif %}
    <br>

    {% for c in comments %}
        {{c.render(user_cookie, p.key().id()) | safe}}
    {% endfor %}

    {% if user_cookie %}
        <form method="post" action="/" class="comment">
            <textarea class="comment-box" type="text" name="comment" placeholder="Write a comment..."></textarea>
            <br>
            <input type="hidden" name="postID" value="{{p.key().id()}}" />
            <input class="like" type="submit" value="Submit">
        </form>
    {% endif %}
</div>
